page-home {

    .content{
        background-image: url('/img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content a{
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

}
