<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!searchClicked">
      Mobcare
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!searchClicked" ion-button icon-only (click)="onSearchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button *ngIf="!searchClicked" ion-button icon-only (click)="more()">
        <ion-icon name="more"></ion-icon>
      </button>
      <ion-searchbar *ngIf="searchClicked"
        [(ngModel)]="searchQueryText"
        [animated]="true"
        [showCancelButton]="true"
        (ionInput)="filter($event)"
        (ionCancel)="onSearchClick()">
      </ion-searchbar>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding>
  <ion-list>
    <ion-card *ngFor="let classe of classes">
      <ion-card-header>
        {{classe.nome}}
      </ion-card-header>
      <ion-card-content>
        <p>Domínio: {{classe.dominio}}</p>
        <p>{{classe.descricao}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
