page-diagnostico {
        
    .scroll-content{
        background-color: #eeeeee ;
    }

    .titulo{
        color: #00d1b2;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}
